/*---------------------------------------- CONFIG DA PÁGINA---------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap'); /* Roboto e Poppins */
/* 
font-family: 'Poppins', sans-serif; // Logo
font-family: 'Roboto', sans-serif; // Sistema
*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    height:100vh; width:100vw;
    background-image: linear-gradient(rgb(4, 159, 255), rgb(0, 204, 255));
}

/*---------------------------------------- HEADER ---------------------------------------- */
.container {
    background-color: #0c51cf;
    display: flex;
    gap: 42px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container-cabecalho{
    display: flex;
    gap: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.logo {
    font-family: 'Poppins', sans-serif;
    color: #efefef;
    width: 110px;
}

nav {
    color: white;
    text-align: center;
}

.container-link {
    text-decoration: none;
    color: white;   
}

/*---------------------------------------- CONTEÚDO ---------------------------------------- */
.section-principal {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

/* CONTEUDO PRINCIPAL DA PÁGINA (RESUMOS) */
.content-principal {
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1px solid black;
    padding: 5%;
    background-color: #f7f0f0;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 2px 2px#6d99ec;
}