/*---------------------------------------- CONFIG DA PÁGINA---------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap'); /* Roboto e Poppins */
/* 
font-family: 'Poppins', sans-serif; // Logo
font-family: 'Roboto', sans-serif; // Sistema
*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    height:100vh; width:100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #e6edf0;
}

/*---------------------------------------- HEADER ---------------------------------------- */
.container {
    background-color: #0c51cf;
    display: flex;
    gap: 42px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.container-cabecalho{
    display: flex;
    gap: 50px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.logo {
    font-family: 'Poppins', sans-serif;
    color: #efefef;
    width: 110px;
}


nav {
    color: white;
    text-align: center;
}

.container-link {
    text-decoration: none;
    color: white;
    
}

/*---------------------------------------- CONTEÚDO ---------------------------------------- */

.section-principal {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

/* INFORMAÇÕES DO USUÁRIO (FOTO/NOME/USUÁRIO) */

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    /*ALTERAÇÕES PARA COMENTAR COM O DIOGO= box-shadow: 2px 2px 2px 2px#6d99ec; */
}

#profile-content-top{
    display:flex; justify-content: center; align-items: center;
    width:100%; height:50%;
    /* background-color: aqua; */
}

#profile-content-top-img{
    width:60%; height:100%;
    /* background-color: aquamarine; */
}

#profile-content-bottom{
    display:flex; justify-content: center; align-items: center; flex-direction: column;
    width:100%; height:50%;
}

#img-profile {
    border-radius: 50%;
    width: 100%; height:100%;
}

.editprofile {
    margin-top: 5%;
    font-family: 'Roboto', sans-serif;
    width: 60%;
    height: 15%;
    border-radius: 7px;
    background-color: #0c51cf;
    color: white;
    cursor: pointer;
}

.editprofile:hover {
    background-color: #0c50cfb4;
}

.bio {
    font-size: 17px;
    text-align: center;
    margin-top: 10px;
}
/* CONTEUDO PRINCIPAL DA PÁGINA (RESUMOS) */

.content-principal {
    display: flex;
    flex-direction: column;
    width: 60%;
    border: 1px solid black;
    padding: 5%;
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    /* ALTERAÇÕES PARA COMENTAR COM DIOGO = box-shadow: 2px 2px 2px 2px#6d99ec; */
}

.text-principal {
    padding: 2px;
}

#resumos-title {
    text-align: center;
}

/* Meus resumos favoritos */

.resumos {
    display: flex;
    flex-direction: row;
    padding-top: 2%;
}

.resumo-fav {
    padding: 5%;
    border: 2px solid lightgray;
    border-radius: 2%;
    margin-left: 5%;
}

.resumo-fav:hover {
    border: 2px solid gray;
}